<?xml version="1.0" encoding="UTF-8"?>  
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	   xmlns:mybatis="http://mybatis.org/schema/mybatis-spring"
	   xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://mybatis.org/schema/mybatis-spring http://mybatis.org/schema/mybatis-spring.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    
    <!-- 该包下的类支持注解，表示会被当作{@code mybatis mapper}处理 配置了之后表示可以自动引入mapper类
    <mybatis:scan base-package="com.elf.dao"/>
    -->
    <!--引入属性文件 -->
    <context:property-placeholder location="classpath:sysConfig.properties"/>
    
	<!--mysql数据库连接-->
    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource" init-method="init" destroy-method="close"> 
	    <property name="url" value="${mysql.url}" />
	    <property name="username" value="${mysql.username}"/>
	    <property name="password" value="${mysql.password}"/>
	    
		<!-- 配置初始化大小、最小、最大 -->
		<property name="initialSize"><value>10</value></property>
	    <property name="maxActive"><value>50</value></property>
	    <property name="minIdle"><value>10</value></property>
	    <!-- 配置获取连接等待超时的时间 -->
	    <property name="maxWait"><value>60000</value></property>
	    <!-- 配置监控统计拦截的filters -->
	    <property name="filters"><value>stat</value></property>
		<!-- 配置间隔多久才进行一次检测，检测需要关闭的空闲连接，单位是毫秒 -->
	    <property name="timeBetweenEvictionRunsMillis"><value>60000</value></property>
	    <!-- 配置一个连接在池中最小生存的时间，单位是毫秒 -->
	    <property name="minEvictableIdleTimeMillis"><value>300000</value></property>
		
		<!--
	    <property name="validationQuery"><value>SELECT 'x'</value></property>
	    <property name="testWhileIdle"><value>true</value></property>
	    <property name="testOnBorrow"><value>false</value></property>
	    <property name="testOnReturn"><value>false</value></property>
	    <property name="poolPreparedStatements"><value>true</value></property>
	    <property name="maxOpenPreparedStatements"><value>20</value></property>
	     -->
 	</bean>

 	<bean id="dataSource-sqlServer" class="com.alibaba.druid.pool.DruidDataSource" init-method="init" destroy-method="close">
      <!-- 基本属性 url、user、password -->
       <property name="url" value="${sqlServer.url}" />
	    <property name="username" value="${sqlServer.username}"/>
	    <property name="password" value="${sqlServer.password}"/>

      <!-- 配置初始化大小、最小、最大 -->
      <property name="initialSize" value="5" />
      <property name="minIdle" value="5" />
      <property name="maxActive" value="50" />

      <!-- 配置获取连接等待超时的时间 -->
      <property name="maxWait" value="60000" />

      <!-- 配置间隔多久才进行一次检测，检测需要关闭的空闲连接，单位是毫秒 -->
      <property name="timeBetweenEvictionRunsMillis" value="60000" />

      <!-- 配置一个连接在池中最小生存的时间，单位是毫秒 -->
      <property name="minEvictableIdleTimeMillis" value="300000" />

      <property name="validationQuery" value="SELECT 'x'" />
      <property name="testWhileIdle" value="true" />
      <property name="testOnBorrow" value="false" />
      <property name="testOnReturn" value="false" />

      <!-- 打开PSCache，并且指定每个连接上PSCache的大小 
      <property name="poolPreparedStatements" value="true" />
      <property name="maxPoolPreparedStatementPerConnectionSize" value="20" />
	-->
      <!-- 配置监控统计拦截的filters -->
      <property name="filters" value="stat" />
  </bean>
  
  	<bean id="dataSource-oracle" class="com.alibaba.druid.pool.DruidDataSource" init-method="init" destroy-method="close">
       <property name="url" value="${oracle.url}" />
	    <property name="username" value="${oracle.username}"/>
	    <property name="password" value="${oracle.password}"/>
      <property name="initialSize" value="5" />
      <property name="minIdle" value="5" />
      <property name="maxActive" value="50" />
      <property name="maxWait" value="60000" />
      <property name="timeBetweenEvictionRunsMillis" value="60000" />
      <property name="minEvictableIdleTimeMillis" value="300000" />
      <property name="filters" value="stat" />
  </bean>
  
 	<!-- mybatis配置 -->
 	<!-- 数据源1配置 -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
    </bean> 
    
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">  
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>  
        <property name="basePackage" value="com.elf.dao" />  
    </bean>  
    
    <!-- 数据源1配置结束 -->
    
    <!-- 数据源2配置 -->
     <bean id="sqlSessionFactory2" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource-sqlServer" />
    </bean> 
    
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">  
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory2"/>  
        <property name="basePackage" value="com.elf.dao2" />  
    </bean>  
     <!-- 数据源2配置结束 -->
    
    <bean id="soapMapClient" class="com.elf.soap.soapmap.spring.SoapMapClientFactoryBean">
		<property name="configLocation">
			<value>classpath:soap-config.xml</value>
		</property>
	</bean>
    
</beans>   