#macro(appName)
#set(${link.contextPath}="SpringMvc")
#end

#macro(CSSM $libs)
	#foreach ($key in $libs)
		#if($key == 'ACE')
			<link rel="stylesheet" href="${link.contextPath}/resource/ace/css/bootstrap.css" />
			<!-- bootstrap & fontawesome -->
			<link rel="stylesheet" href="${link.contextPath}/resource/ace/css/bootstrap.css" />
			<link rel="stylesheet" href="${link.contextPath}/resource/ace/css/font-awesome.css" />

			<!-- text fonts -->
			<link rel="stylesheet" href="${link.contextPath}/resource/ace/css/ace-fonts.css" />

			<!-- ace styles -->
			<link rel="stylesheet" href="${link.contextPath}/resource/ace/css/ace.css" />

			<!--[if lte IE 9]>
			<link rel="stylesheet" href="${link.contextPath}/resource/ace/css/ace-part2.css" />
			<![endif]-->
			<link rel="stylesheet" href="${link.contextPath}/resource/ace/css/ace-rtl.css" />

			<!--[if lte IE 9]>
		  	<link rel="stylesheet" href="${link.contextPath}/resource/ace/css/ace-ie.css" />
			<![endif]-->

			<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

			<!--[if lt IE 9]>
			<script src="${link.contextPath}/resource/ace/js/html5shiv.js"></script>
			<script src="${link.contextPath}/resource/ace/js/respond.js"></script>
			<![endif]-->
		#elseif($key == 'bootstrap.datepicker')
			<link rel="stylesheet" href="${link.contextPath}/bootstrap.datepicker/css/datepicker3.css" />
		#end
	#end
#end

#macro(JSM $libs)
	#foreach ($key in $libs)
		#if($key == 'jQuery')
			<!--[if !IE]> -->
			<script type="text/javascript">
				window.jQuery || document.write("<script src='${link.contextPath}/resource/ace/js/jquery.js'>"+"<"+"/script>");
			</script>

			<!-- <![endif]-->

			<!--[if IE]>
			<script type="text/javascript">
 				window.jQuery || document.write("<script src='${link.contextPath}/resource/ace/js/jquery1x.js'>"+"<"+"/script>");
			</script>
			<![endif]-->
			<script type="text/javascript">
				if('ontouchstart' in document.documentElement) document.write("<script src='${link.contextPath}/resource/ace/js/jquery.mobile.custom.js'>"+"<"+"/script>");
			</script>
		#elseif($key == 'ACE')
			<script src="${link.contextPath}/resource/ace/js/bootstrap.js"></script>
			
			<!-- ace scripts -->
			<script src="${link.contextPath}/resource/ace/js/ace/ace.js"></script>
		#elseif($key == 'SideBar')	
			<script src="${link.contextPath}/resource/ace/js/ace/ace.sidebar.js"></script>
			<script src="${link.contextPath}/resource/ace/js/ace/ace.sidebar-scroll-1.js"></script>
			<script src="${link.contextPath}/resource/ace/js/ace/ace.submenu-hover.js"></script>
		#end
	#end
#end
	